//Tamaño Media Queries 
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$fuente_principal: "Inter", sans-serif;

//Colores

$White: #FFFFFF;

//FONDO CLARO
$FondoMain: #ECE8ED;
$Morado: #7C3AED;
$Fucsia: #DB2777;
$AzulElectrico: #2563EB;
$MoradoOscuro: #48025E;

//FONDO OSCURO
$DarkFondoMain: #0F172A;
$DarkFondoTarjeta: #1E293B;
$CianNeon: #22D3EE;
$VerdeNeon: #4ADE80;
$BordeTarjeta: #334155;


//Tamaños fuente
$regular: 400;
$medium: 500;
$bold: 700;